{% extends 'todoList/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card px-0 mb-3">
          <!-- Card Header -->
          <div class="card-header">
            <span>New Task</span>
          </div>

          <!-- Card Body -->
          <form class="card-body" action="{% url 'add' %}" method="post">
            <h4 class="card-title">Add a new task</h4>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary my-3">
              <i class="fa-solid fa-floppy-disk"></i> Save
            </button>
          </form>
        </div>

        <!-- Back Button -->
        <a href="../.." class="btn btn-warning">
          <i class="fa-solid fa-eye"></i> View tasks
        </a>
      </div>
    </div>
  </div>
{% endblock %}